.card {
  margin: 10px;
}

p.term {
  
}

p.def {
  display: none;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}